body {background-color: #AEDADD}


hr {background-color:white;
  border-style: none;
  border-top-style: dotted;
  border-color:grey;
  border-width: 5px;
      width: 10%;
}
h1 {color: Black}
h3 {color: #DB996C}
table {background-color:white;}
